<ion-buttons slot="start" class="back-btn">
  <ion-back-button defaultHref="/home"></ion-back-button>
</ion-buttons>

<ion-content [fullscreen]="true" class="main-container">
  <div class="globe">Pickup List</div>

  <div class="recordbox">
    <div *ngIf="items.length === 0" class="empty-state">
      No pickups available
    </div>

    <!-- Show the list if items exist -->
    <ion-list *ngIf="items.length > 0">
      <ion-item *ngFor="let i of items">
        <ion-label class="list-box">
          <h2>{{ i.name }}</h2>
          <p class="ints">{{ i.instruction }}</p>
          <p class="date-text">{{ i.date | date:'short' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>