.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.globe {
    color: #696868;
    font-family: 'Inter';
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    font-style: normal;
}

.back-btn ion-back-button{
    padding: 5px;
    padding-top: 10px;
}

.recordbox h2 {
    color: #077575;
    font-size: 1.4rem;
    padding-bottom: 5px;
    font-weight: 500;
    padding-left: 5px;
}

.recordbox .ints {
    color: black;
    font-size: 1.2rem;
    padding: 5px;
}

.recordbox .date-text {
    color: #707070;
    padding: 5px;
    font-size: 0.9rem;
}

.empty-state {
    color: #696868;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50%;
}

@media (min-width: 768px) {
    .globe {
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    .globe {
        font-size: 4rem;
    }
}