// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

/* src/global.scss or src/theme/variables.scss */

:root {
    /* Force Light Mode Colors */
    --ion-background-color: #ffffff;
    /* Light background */
    --ion-text-color: #000000;
    /* Dark text */

    /* Text and Other Elements */
    --ion-color-step-50: #000000;
    --ion-color-step-100: #000000;
    --ion-color-step-150: #000000;
    --ion-color-step-200: #000000;
    --ion-color-step-300: #000000;

    /* Buttons and Forms */
    --ion-color-primary: #3880ff;
    /* Primary color */
    --ion-color-primary-contrast: #ffffff;
    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-contrast: #ffffff;

}