// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
    --ion-color-primary: #3880ff;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-contrast: #ffffff;

}