<ion-content [fullscreen]="true" class="top-box">
  <div class="globe">Let's get started...</div>

  <div class="main-text-box">
    <div class="upper">
      Please choose wheather you need a volunteer to pick up your bottles/cans or if you're a volunteer offering help.
    </div>
  </div>

  <div class="btns-sec">
    <div class="btns">
      <ion-button href="/location" expand="block" class="rounded-btn">I need help</ion-button>
    </div>
    <div class="buttons">
      <ion-button href="/create-profile" expand="block" class="rounded-btn">I'm a volunteer</ion-button>
    </div>
  </div>

  <div class="img-section">
    <img class="img-sec" src="assets/start_screen.png" />
  </div>
</ion-content>